*{
    margin: 0;
    padding: 0;
}
/* .mx-4 {
    margin-right: 7.5rem!important;
    margin-left: 7.5rem!important;
} */
nav ul li a:hover {
    color: #1c1c1e;
    /* text-decoration: underline; */
  }

  .navbar {
    background-color: #1d5e8f;
  }

  .nav-item:hover{
    color: red;
  }

  .dropdown-menu {
    display: none; /* Hide the dropdown menu by default */
  }
 
  .nav-item:hover .dropdown-menu {
    display: block; /* Show the dropdown menu when hovering over the parent element */
  }

  .dropdown-item:hover:selected{
    color: rgb(234, 175, 46);
  }
  .dropdown-item:hover {
    color: yellow;
    padding-right: 5px; /* Add some padding for better appearance */
    background-color: rgb(85, 147, 240);
    
  }
  
.container{
    /* display: inline; */
    overflow: hidden;
    /* margin: 0;
    padding: 0;
   overflow-y: hidden; */
}
.carousel-item img{        /*control both the dimension of carousel and img*    VERY IMP*/
    width: 100%;
    height: 100vh;
}
.carousel-caption{
    bottom: 8.5rem; 
    background-color: rgba(0,0,0, 0.4); 
    padding: 20px;
    
}
/* .carousel-caption{
    opacity: 90%;
} */
/* .col-md-5 img{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
} */
a.stretched-link {                           /*Hover Link Effect  */
    position: relative;
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    transition: color 0.3s;
  }
  
  a.stretched-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 48%;
    height: 2px;
    background-color: #D65472;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  a.stretched-link:hover {
    color: #37C5F0;
  }
  
  a.stretched-link:hover::before {
    transform: scaleX(1);
  }
  
  .Photo {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /*Cards*/

  .image-container {                                  /*Image hover effect for both Cards and About Section*/
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .About-font{
    font-family: 'Courier New', Courier, monospace;            /*font-family for About Section*/
  }

.search-btn{
    margin: 0%;
    color: black;
    background-color: lightblue;
}
.search-btn:hover{
  background-color: rgb(131, 169, 249);
  color: black;
}
.modal-content{
     background-color: rgb(229, 220, 220);
}
/* .modal-content{
    margin: 50%;
    width: 20%;
} */
.col-md-5 img{
    /* padding: 122px;
    float: left; */
    /* height: 160%; */
    width:  101%;
    display: flex;
    justify-content: space-around;
}
/* .me-2{
    margin: 2%;
} */
.footer{
    margin: 0 20%;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.card {
    /* width: 300px; */
    /* background-color: #f1f1f1; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    transition: transform 0.3s ease;
    background-color: #deedef;
}

.card:hover {
    transform: translateY(-5px);
}
