* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}
#container{
    height: 480px;
    width: 380px;
    border-radius: 10px;
    position: relative;
    background-color: white;
    overflow: hidden;  /*same as border-radius*/
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
#container i{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0; /*will be 0 at initial*/
    transition: transform ease 0.4s; /*instead all,use transform */
}